<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @sentence.value %>
</p>

<p>
  <strong>Language:</strong>
  <%= @sentence.language_id %>
</p>

<%= link_to 'Edit', edit_sentence_path(@sentence) %> |
<%= link_to 'Back', sentences_path %>
